Subindo uma posição para #2, anteriormente conhecido como Exposição de Dados Sensíveis, que é mais um sintoma amplo do que uma causa raiz, o foco está nas falhas relacionadas à criptografia (ou falta dela). O que muitas vezes leva à exposição de dados confidenciais. Notável Common Weakness Enumerations (CWEs) incluídas são CWE-259: Uso de Senha no Código, CWE-327: Algoritmo Criptográfico Quebrado ou Arriscado e CWE-331 Entropia Insuficiente.


<p></p>
Por exemplo, você invandiu um sistema e pegou uma tabela com usuario e senha

<table class="table">
  <tr>
    <th>Nome</th>
    <th>Senha</th>
          <th>Resposta</th>

  </tr>
     <tr>
    <td>Lucas</td>
    <td>cec3a556f02910a93e50cfbaf67c86ab</td>
             <td><input class="form-control"></td>

  </tr>
  <tr>
    <td>Higor</td>
    <td>50d5ea62145eb80e18600b51c75219d1</td>
                   <td><input class="form-control"></td>

  </tr>
</table>