A Injeção desliza para a terceira posição. 94% das aplicações foram testadas para alguma forma de injeção com uma taxa de incidência máxima de 19%, uma taxa de incidência média de 3% e 274k ocorrências. Notável Common Weakness Enumerations (CWEs) incluídas são CWE-79: Cross-site Scripting, CWE-89: Injeção de SQL e CWE-73: Controle Externo do Nome do Arquivo ou Caminho.

<p></p>

<h1>Pingue uma máquina</h1>

 <form action ="/vuln3/submit" method="post">{% csrf_token %}

<input name="ip" class="form-control">        <button type="/vuln3/submit">Pingar</button>

     <p></p>
    {{ saida }}
 </form>