Anteriormente conhecida como autenticação quebrada , esta categoria desceu da segunda posição e agora inclui Enumerações de Fraqueza Comum (CWEs) relacionadas a falhas de identificação. CWEs notáveis ​​incluídos são CWE-297: Validação Imprópria de Certificado com Incompatibilidade de Host , CWE-287: Autenticação Imprópria e CWE-384: Fixação de Sessão .

<scritpt>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</scritpt>


 <form action ="resposta" method="post">{% csrf_token %}

<h1>
    Login
</h1>
        <input id="resposta" class="form-control">

<h1>
    Senha
</h1>
        <input id="resposta2" class="form-control">



     <p></p>
    {{ saida }}

<button type="button" class="form-control btn btn-dark" data-toggle="modal" data-target="#exampleModal{{ mensagens.id }}2" onclick="enviarResposta()">
  <p>Salvar</p>
</button>
</form>
<script>

    function enviarResposta() {

var elemento = document.getElementById("resposta").value;
var elemento2 = document.getElementById("resposta2").value;




 $.ajax({
 method: "POST",
 url: "resposta",
 data: { user: elemento,password: elemento2, pagina: "{{ pagina }}",csrfmiddlewaretoken:"{{ csrf_token }}" },
  beforeSend : function(){
          $("#demo").html("ENVIANDO...");
     }
})
.done(function(msg){
     $("#demo").html(msg);
     document.getElementById("girando").remove();

})
.fail(function(jqXHR, textStatus, msg){
     alert(msg);
     document.getElementById("girando").remove();

});
}
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal{{ mensagens.id }}2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2"><p>Carregando...</p></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="spinner-border" role="status" id="girando">
  <span class="visually-hidden"></span>
</div>
          <p id="demo"></p>

      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
